.*
!.gitignore
!.travis.yml
*.o
*.obj
*.bs
*.def
*blib
pm_to_blib
META.*
MYMETA.*
Makefile
*.out
*.bak
*.old
*~
*.swp
ppport.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
_build/*
tmp/
/DBIx-Schema-DSL-*
/.build
/_build_params
/Build
!Build/
!META.json
!LICENSE
